.nav-link{
    color: #FBEAEB;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover{
    background-color: #1F2A4B;
    border-radius: 5px;
}

.navbar-toggler{
    border-color: #FBEAEB; 
}